<nav class="navbar navbar-dark sticky-top flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="/home">
        <i class="fa fa-bug" aria-hidden="true"></i>BUG DIARY
    </a>
    <button
        class="navbar-toggler position-absolute d-md-none collapsed mt-1"
        type="button"
        data-toggle="collapse"
        data-target="#sidebarMenu"
        aria-controls="sidebarMenu"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap pt-3 pb-3">
            <a class="nav-link" href="/logout">
                <i class="fa fa-power-off fa-lg" aria-hidden="true"></i>
                LOGOUT
            </a>
        </li>
    </ul>
</nav>
