<div class="container">
    <div class="row mt-5">
        <div class="col-7 mt-5">
            <h1 class="mt-5 error-msg">PAGE NOT FOUND</h1>
            <h4 class="mt-3 ">Go Back to Dashboard</h4>
            <a href="/home" class="btn btn-primary mt-5">DASHBOARD</a>
        </div>
        <div class="col-5 mt-5">
            <img src="./images/undraw_page_not_found_su7k.svg" alt="" class="w-100 h-100">
        </div>
    </div>
</div>