<div class="signup-logo">
    <h1>BUG DIARY</h1>
</div>
<div class="signup-container">
    <div class="signup-form-container">
        <h1 class="signup-heading">Sign Up</h1>
        <form id="form">
            <input type="text" name="name" id="name" placeholder="Name">
            <span class="name-error"></span>
            <input type="text" name="username" id="username" placeholder="Username">
            <span class="username-error"></span>
            <input type="tel" name="mobileno" id="mobileno" placeholder="Mobile number">
            <span class="mobileno-error"></span>
            <input type="text" name="email" id="email" placeholder="E-mail">
            <span class="email-error"></span>
            <input type="password" name="password" id="password" placeholder="Password">
            <span class="password-error"></span>
            <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" onchange= "check_pass()">
            <span class="confirm-password-error"></span>
            <button type="submit" id="submit" >Sign Up</button>
            <span>Existing User?</span>
            <a href="/login" class="login-link">Login</a>
        </form>
    </div>
    <img src="./images/undraw_bug_fixing_oc7a.svg" alt="">
</div>

<!-- SCRIPT -->
<script>
    // CHECK PASSWORD
    const confirmPasswordError = document.querySelector('.confirm-password-error');
    function check_pass() {
        if (document.getElementById('password').value ==
                document.getElementById('confirm_password').value) {
            confirmPasswordError.textContent= ' ';
        } else {
            confirmPasswordError.textContent= 'Passwords don\'t match';
        }
    }

    // RETREVING VALUES
    const form = document.querySelector('#form');
    const nameError =document.querySelector('.name-error');
    const usernameError =document.querySelector('.username-error');
    const mobileError =document.querySelector('.mobileno-error');
    const emailError =document.querySelector('.email-error');
    const passwordError =document.querySelector('.password-error');

    form.addEventListener('submit', async (event) => {
        event.preventDefault();

        // RESET ERRORS
        nameError.textContent = '';
        usernameError.textContent = '';
        mobileError.textContent = '';
        emailError.textContent = ''
        passwordError.textContent = '';

        // GET THE VALUES
        const name = form.name.value;
        const username = form.username.value;
        const mobileno = form.mobileno.value;
        const email = form.email.value;
        const password = form.password.value;

        try{
            const res = await fetch ('/signup', {
                method: 'POST',
                body: JSON.stringify( { name, username, mobileno, email, password } ),
                headers: {'Content-Type': 'application/json'}
            });
            const data = await res.json();
            console.log(data.errors);
            if(data.errors){
                nameError.textContent = data.errors.name;
                usernameError.textContent = data.errors.username;
                mobileError.textContent = data.errors.mobile;
                emailError.textContent = data.errors.email;
                passwordError.textContent = data.errors.password;
            }
            if(data.user){
                location.assign('/login');
            }
        }

        catch(err){
            console.log(err);
        }

    })
</script>